name: Wheel

on: workflow_dispatch

jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    name: Build on ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: "ubuntu-20.04", build-dir: "build-linux" }
          - { os: "windows-2019", build-dir: "build-windows" }
          - { os: "macos-11", build-dir: "build-macos" }
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "true"
      - name: Wheel
        run: |
          python setup.py bdist_wheel
      - name: List Build Results
        run: |
          ls dist
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.config.os }}-build-wheel
          path: ./dist/*.whl
